.feature-bg {
    position: relative;
    background-image: url('../../../assets//home/featured.jpg');
    object-fit: contain;
}

.feature-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.feature-bg .content {
    position: relative;
    z-index: 2;
}

.feature-bg .content img {
    z-index: 2;
}