<div class="field">
    <div class="two fields">
        <div class="field medical-center-field medical-center-field-js" style="display: block;">
            <div class="field">
                <label style="opacity: 1;">
                    Medical Center
                </label>
                <select name="medical_center" id="id_medical_center" style="display">
                    <option value="" selected>Select Medical Center</option>
                    <!-- <option value="">Auto assign</option> -->

                    <option value="AHMC"> Al Hayatt Medical Centre </option>

                    <option value="MMDS"> Al Mubasher Medical Diagnostic Services </option>
                </select>
            </div>
            <span class="success-icon"><i class="check circle icon"></i> Success</span>
        </div>
    </div>
</div>
















<div class="field ">

    <label>
        Country Traveling To
    </label>
    <select name="traveled_country" required id="id_traveled_country">
        <option value="" selected>Select GCC country</option>

        <option value="BH">Bahrain</option>

        <option value="KW">Kuwait</option>

        <option value="OM">Oman</option>

        <option value="QA">Qatar</option>

        <option value="SA">Saudi Arabia</option>

        <option value="UAE">UAE</option>

        <option value="YEM">Yemen</option>

    </select>





</div>